
.doctors .doctorCard {
    /* border: 2px solid; */
    width: 200px;
    height: 200px;
    text-align: center;
    gap: 1rem;
    img{
        width: 100%;
        height: 60%;
        margin-bottom: 20px;
        transition: scale .8s;
        border-radius: 1rem;
        &:hover{
            scale: 1.05;
            outline: 1px solid red;
            outline-offset: 5px;
        }
    }
    h6{
        font-weight: 700;
    }
    p{
        font-weight: 600;
    }
}