


* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.homePage{
  margin-top: 50px;
}

.homeHeader {
  text-align: center;
  h1{
    color: rgb(157, 8, 171);
  }
  h3 {
    color: purple;
    margin: 50px;
  }
}

